.WeatherCard {
    width: 380px;
    margin: 40px auto;
    padding: 30px;

    background: #ffffff;

    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,.15);

    text-align: center;

    transition: .3s;
}

.WeatherCard:hover{
    transform: translateY(-8px);
}

.city{
    font-size: 30px;
    font-weight: bold;
}

.temp{
    font-size: 80px;
    color: #2563eb;
    margin: 15px 0;
}

.description{
    font-size: 22px;
    color: gray;
}

.feels{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.line{
    margin: 25px 0;
    border-top: 1px solid #ddd;
}

.infoGrid{
    display: grid;

    grid-template-columns: repeat(2,1fr);

    gap: 20px;

    margin-top: 20px;
}

.infoGrid div{
    background: #f8f9fa;

    padding: 15px;

    border-radius: 15px;

    display: flex;

    flex-direction: column;

    gap: 8px;

    font-size: 18px;

    transition: .3s;
}

.infoGrid div:hover{
    background: #2563eb;
    color: white;
    transform: scale(1.05);
}

.infoGrid span{
    font-weight: bold;
}
